@use "./../vars" as *;

.generated-result {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 2.2rem;

  &:after {
    content: "";
    display: block;
    position: absolute;
    height: 1rem;
    left: -1.6rem;
    right: -1.6rem;
    bottom: 0;
    background-color: $bg-primary-clr;
  }

  &__password {
    width: 100%;
    padding-right: 1rem;
    font-size: 1.5rem;
    text-overflow: ellipsis;
    color: $password-clr;
    border: none;
    outline: none;
    background-color: transparent;

    &.generated {
      font-weight: 700;
      letter-spacing: 1px;
      color: #fff;
      user-select: all;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__icon {
    font-size: 1.5rem;
    color: $primary-clr;
    cursor: pointer;
    transition: color 150ms ease-in;

    &:hover {
      color: #fff;
    }
  }
}
