@use "./../vars" as *;

.password-generator {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 100%;
  max-width: 27.5rem;
  justify-self: center;
  padding: 1.5rem;
  gap: 1rem;
  background-color: $bg-secondary-clr;

  &__header {
    justify-self: center;
    align-self: end;

    h1 {
      margin-bottom: 2rem;
      color: $header-clr;
    }
  }

  &__wrapper {
    flex-grow: 1;
  }
}
