@use "./../vars" as *;

.password-strength {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: $bg-primary-clr;
  }

  &__description {
    color: $password-clr;
    font-weight: bolder;
  }

  &__value-wrapper {
    display: flex;
    gap: 0.25rem;
  }

  &__security-value {
  }

  &__value {
    display: inline-block;
    height: 100%;
    width: 0.5rem;
    border: 1px solid #fff;
  }
}
