$primary-clr: #a4ffaf;
$secondary-clr: #f6cd6b;
$bg-primary-clr: #121117;
$bg-secondary-clr: lighten($bg-primary-clr, 10%);
$password-clr: #53515a;
$header-clr: #726f7e;

$ff-primary: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
